<!DOCTYPE html>
<html>
  <head>
    <title>TagAlong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app-bundle' %>

  </head>

  <body>
    <%= yield %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </body>
</html>
